body {
    background-color: rgb(151, 151, 248);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    height: 100px;
}

article {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.432);
    margin: auto;
    margin-top: 100px;
    height: 200px;
}

#fnum {
    width: 100px;
    height: 17px;
}

footer {
    text-align: center;
    color: white;
    font-style:italic;
}