body {
    background: rgb(157, 157, 250);
    font:normal 15pt Arial;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    color: white;
}

section {
    background: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.507);
}

#fnum {
    width: 100px;
}

#fnum2 {
    width: 100px;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}